body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  #newBookBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #bookForm {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #bookForm input, #bookForm select {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  #bookForm button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .book {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .book h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .book p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #removeBtn, #readBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #readBtn {
    background-color: #2196F3;
  }
  